<section class="block container">

    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, earum? Dolorum eaque tempore
            molestiae
            ex!</p>
        <div style="width: 50%; padding: 4rem;">
            <div class="plan card--secondary">
                <header class="card__header">
                    Card Title
                </header>
                <div class="card__body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quo commodi totam nemo incidunt
                    voluptatem repudiandae! Dolorum, magni? Adipisci, amet.
                </div>
            </div>
        </div>
        </div>
    </header>
</section>
<section class="block block--dark block--skewed-left ">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, earum? Dolorum eaque tempore
            molestiae
            ex!</p>
    </div>
</section>